link(href="/frames/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/index.css", rel="stylesheet")
script(src="/frames/jquery-1.12.3.min.js")
script(src="/frames/bootstrap/js/bootstrap.min.js")
script(src="/js/userIconController.js")
script(src="/js/footerController.js")
